h2, h3, h4 {
  text-align: center;
}

/* main title and top row of task boxes */
.title {
  background-color: rgb(184, 229, 243); 
  border: 1px solid rgb(207, 198, 198);
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
}

/* count of done and not done items */
.totalItem {
  background-color: rgb(247, 242, 242); 
  border: 1px solid rgb(207, 198, 198);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.taskList {
  background-color: rgb(247, 242, 242);
  border: 1px solid rgb(207, 198, 198);
  padding-top: 5px;
  padding-bottom: 5px;
}

/* remove margins/padding on task desc and date picker */
.remMarg{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* pad left and middle icons */
.pad{
  margin-right: 7px;
}

/* edit icon */
.blue{
  color: blue;
}