h2, h3, h4 {
  text-align: center;
  /* color: rgb(99, 140, 236); */
  color: navy;
}


#totalItem{
  text-align: center;
  /* background-color: rgb(195, 192, 206); */
}

.title {
  background-color: rgb(141, 159, 207); 
  border: 1px solid rgb(207, 198, 198);
  /* border: 1px solid rgb(162, 185, 238); */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

