#taskCButton{
  font-size: 10px;
  /* background-color: navy; */
  font-weight: bold;
}

.done {
   background-color: rgb(233, 227, 227);
  border: 1px solid rgb(207, 198, 198);
  padding-top: 5px;
  padding-bottom: 5px;
}

.greyItalic{
  color: gray;
  font-style: italic;
}
