#taskTButton{
  font-size: 10px;
  /* background-color: navy; */
  font-weight: bold;
}
.toDo {
  background-color: rgb(247, 242, 242); 
  border: 1px solid rgb(207, 198, 198);
  padding-top: 5px;
  padding-bottom: 5px;
}

.green{
  color: green;
}

.pad{
  margin-right: 10px;
}
